* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

tbody tr.completed td {
    text-decoration: line-through;
    color: #888;
}

button.complete-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button.complete-btn:hover {
    background-color: #218838;
}

button.delete-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button.delete-btn:hover {
    background-color: #c82333;
}

button.in-progress-btn {
    background-color: #9557DE;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

button.in-progress-btn:hover {
    background-color: #894AD4;
}

tbody tr.in-progress td {
    color: #28a745;
    font-weight: bold;
}

button.export-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.export-btn:hover {
    background-color: #0056b3;
}